{{ "{{define \"title\"}}" }}
{{ .Kind.KindName }} Edit[dizzy auto generated:{{generated}}
{{ "{{end}}" }}

{{ "{{define \"content\"}}" }}
<form method="post" action="/_dizzy/{{.Kind.URL}}/update" onsubmit="return confirm('realy?');">

<input type="hidden" name="Version" value="{{ "{{ .Kind.Version }}" }}">

{{ "{{ if not .Kind.Key }}" }}
<input type="hidden" name="keyId" value="">
{{ "{{ else }}" }}
<input type="hidden" name="keyId" value="{{"{{.Kind.Key.StringID}}"}}">
{{ "{{ end }}" }}

  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
        <th class="mdl-data-table__cell--non-numeric">
{{ "{{ if not .Kind.Key }}" }}
        New {{ .Kind.KindName }}
{{ "{{ else }}" }}
        Key : {{ "{{ .Kind.Key.StringID }}" }}
{{ "{{ end }}" }}
        </th>
    </tr>
    <tbody>

{{ range .Kind.Fields }}

      <tr>
        <td style="text-align:center;">

{{ generateInputHTML . }}

        </td>
      </tr>

{{ end }}
      <tr>
        <td>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--icon mdl-button--primary">
            <i class="material-icons">save</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>


<script>
var list = ""
var valTag = ""
var displayTag = ""

{{ range .Kind.Fields }}

{{ if eq .Editable true }}
{{ if eq .TypeName "bool" }}

list = document.querySelectorAll('#div{{ .Name }}.mdl-select > ul > li');
valTag = document.querySelector('#{{ .Name }}');
displayTag = document.querySelector('#display{{ .Name }}');


for (var i=0; i< list.length; i++) {

  var li = list[i];
  li.addEventListener('click', function(e) {
    valTag.setAttribute('value', e.target.getAttribute("data-id"));
    displayTag.setAttribute('value', e.target.textContent);
  });

  //default value
  if ( li.getAttribute("data-id") == "{{"{{"}} .Kind.{{.Name}} {{"}}"}}" ) {
    valTag.setAttribute('value', li.getAttribute("data-id"));
    displayTag.setAttribute('value', li.textContent);
  }

}

{{ end }}

{{ end }}

{{ end }}

</script>

{{ "{{ end }}" }}

