{{ "{{ define \"title\" }}" }}
Home[dizzy auto generated:{{generated}}]
{{ "{{ end }}" }}

{{ "{{ define \"content\" }}" }}

<h4>
     datastore is lovely.and easy access.
</h4>

18 Jun 2018.</br>
<a href="https://cloud.google.com/appengine/docs/standard/go/datastore/reference">The datastore package</a>

<pre>

support 

- signed integers (int, int8, int16, int32 and int64),
- bool,
- string,
- float32 and float64,

not supported

- []byte (up to 1 megabyte in length),
- ByteString,
- appengine.BlobKey,
- appengine.GeoPoint,

I do not plan support it

- *Key,
- time.Time (stored with microsecond precision),
- any type whose underlying type is one of the above predeclared types,
- structs whose fields are all valid value types,
- slices of any of the above.

</pre>

{{ "{{ end }}" }}

